# SQL Queries  Part 2

# Pair Programming Exercise DSE5002
HD Sheets, Feb 6, 2025, checked 6/27/2025

More details on SQL Queries

IN

subqueries

GROUP BY
HAVING

regex in postgres

# Source material

"Learning SQL", Beaulieu,  O'Reilly 2005

https://www.sqlitetutorial.net/   - explains queries using the chinook database, albeit in the SQLite database system.  The SELECT system used for queries is pretty standard for most SQL databases,   the other aspects and commands seem to be a bit more variable from one server program to another.

That said, there are minor differences in variable names between the chinook database in postgres and the tutorial for SQlite,   watch for underscores and pluralization (track vs tracks, etc).   I have fixed all the examples shown here.

In [ ]:
# Libaries

import sqlalchemy

# we will want Pandas for the data frame structure

import pandas as pd

In [ ]:
# Connect to the database
# Alter this to reflect your username and password,   this is for postgres on the same machine

engine=sqlalchemy.create_engine('postgresql://bob:pwd1@localhost:5432/chinook')

In [ ]:
# really just testing the connection
# before proceeding, I just want to check to see if the connection is actually working

pd.read_sql_query("SELECT table_name  FROM information_schema.tables LIMIT 15",engine)

# IN

Used to find if a variable is within a range of value

In [ ]:
# Look for tracks with media types 1 or 2

pd.read_sql_query("""SELECT
                        track_id,
                        name,
                        media_type_id
                    FROM
                        track
                    WHERE
                        media_type_id IN (1, 2)
                    ORDER BY
                        name ASC
                    LIMIT 20;"""
                     ,engine)

# Subquery

A subquery is one query nested within another.


Here is a starting query that retrieves all the album ids for a given artist

In [ ]:
pd.read_sql_query("""SELECT
                        album_id
                    FROM
                        album
                    WHERE
                        artist_id=12;"""
                     ,engine)

# Subqueries and the IN operation 

we can now use this query as a subquerry within another query to look up all the tracks by this artist, on whatever albums they have out'

Notice how the query we saw above is used within the IN operation

Notice that this subquery uses no values from the outer loop, so it is not a "correlated subquery".

In [ ]:
pd.read_sql_query("""SELECT
                        track_id, name, album_id
                    FROM
                        track
                    WHERE
                        album_id IN(
                            SELECT
                                album_id
                            FROM
                                album
                            WHERE
                                artist_id=12);"""
                     ,engine)

# Subqueries in a WHERE, another example

We can find all the invoices with total greater than 1.5 times the average invoice price 

The subquery here finds 1.5 times the average invoice total for us

The subquery here is (SELECT AVG(total) FROM invoice)

In [ ]:
pd.read_sql_query("""SELECT
                        invoice_id, customer_id, total
                    FROM
                        invoice
                    WHERE
                        total>1.5*(SELECT AVG(total) FROM invoice)
                    ORDER BY
                        total;"""
                     ,engine)

In [ ]:
pd.read_sql_query("""SELECT
                        *
                    FROM
                        invoice
                    LIMIT 10;
                   """
                     ,engine)

# Regular Expressions

We can use a set of expression to match text strings to regular expressions, allowing use of regular expression based 
operations within a query

In postgress we have

~  case sensitive match to a regular expression

~* non case senstive match to a regular expression

!~ not a match, case sensitive

!~*- not a match, not case sensitive

Example let's find if Philip Glass is in our composer list

I am using the regular expression '(.+)glas(.+)'  which means any number of any character follwed by glas and then any number of characters
leaving off the last s in glass means that (.+) can find the last s.    Other more effective regular expressions ar e possible

In [ ]:
pd.read_sql_query("""SELECT
                        *
                    FROM
                        track
                    WHERE composer ~* '(.+)glas(.+)';"""
                     ,engine)

# GROUP BY

Group data in some way, typically computing an aggregate function for the group

In this example we are grouping the counts of tracks from albums, grouping by album_id

In [ ]:
pd.read_sql_query("""SELECT
                        album_id,
                        COUNT(track_id)
                    FROM
                        track
                    GROUP BY
                        album_id
                    LIMIT 10
                    ;"""
                     ,engine)

In [ ]:
#Add an order

pd.read_sql_query("""SELECT
                        album_id,
                        COUNT(track_id)
                    FROM
                        track
                    GROUP BY
                        album_id
                    ORDER BY COUNT(track_id) DESC
                    LIMIT 10
                    ;"""
                     ,engine)

# HAVING

We can filter grouping results using a HAVING operation

In [ ]:
pd.read_sql_query("""SELECT
                        album_id,
                        COUNT(track_id)
                    FROM
                        track
                    GROUP BY
                        album_id
                    HAVING COUNT(track_id)>20
                    ORDER BY COUNT(track_id) DESC
                    ;"""
                     ,engine)

In [ ]:
# Using SUM() in a Group By

# note the use of aliasing with the SUM() operations, so sum of milliseconds is length
# and sum of bytes is size

pd.read_sql_query("""SELECT
                        album_id,
                        SUM(milliseconds) length,     
                        SUM(bytes) size
                    FROM
                        track
                    GROUP BY
                        album_id
                    ;"""
                     ,engine)

In [ ]:
# Another HAVING example

pd.read_sql_query("""SELECT
                        album_id,
                        COUNT(track_id)
                    FROM
                        track
                    GROUP BY
                        album_id
                    HAVING album_id < 10
                    ;"""
                     ,engine)